beautifulsoup4==4.9.3
bs4==0.0.1
bson==0.5.10
click==8.0.1
decorator==5.0.9
dictquery==0.4.0
et-xmlfile==1.0.1
html-to-json==2.0.0
importlib-metadata==4.5.0
jdcal==1.4.1
llvmlite==0.36.0
lml==0.1.0
lxml==4.6.3
numba==0.53.1
numpy==1.19.0
openpyxl==3.0.4
psycopg2==2.9.1
pyexcel-ezodf==0.3.4
pyexcel-io==0.6.4
pyexcel-ods3==0.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
qddate==0.1.1
six==1.16.0
soupsieve==2.2.1
tabulate==0.8.9
typing-extensions==3.10.0.0
validators==0.18.2
virtualenv==15.1.0
xlrd==2.0.1
zipp==3.4.1
